// SETTINGS

@font-face {
  font-family: "font-1";
  src: url(assets/fonts/HelveticaNeueLTStd-Bd.otf);
}

$font-1: "font-1", sans-serif;

$color-1: #192225;
$color-2: #E8EBE5;
$tricolor-1: #B829DF;
$tricolor-2: #01C3B2;
$tricolor-3: #E0A909;